body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    
    background-size:auto;
    color: #333;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.dashboard-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
    width: 150px;
    transition: transform 0.2s;
}

.dashboard-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.dashboard-item p {
    font-size: 16px;
    font-weight: bold;
}

.dashboard-item:hover {
    transform: scale(1.05);
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    display: none;
}
